.mainPart {
  display: flex;
  justify-content: space-between;
}

.header {
  padding-top: 170px;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  max-width: 500px;

  color: #000000;
}

.caption {
  font-style: normal;
  font-size: 16px;
  margin-top: 25px;

  color: #5e5e5e;
  max-width: 500px;
}

.button {
  margin-top: 68px;
  width: 300px;
  padding: 10px;
  border: 0;
  background-color: #262DD4;
  border-radius: 35px;

  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 49px;

  color: #ffffff;
}

.button:hover {
  background-color: #ffffff;
  cursor: pointer;
  color: #262DD4;
  border: 1px solid #262DD4;
}

.left {
  padding-left: 120px;
  max-width: 800px;
}

.img {
  max-width: 902px;
  max-height: 661px;
  padding-top: 40px;
}
